<footer class="footer">
  <div class="container-footer">
    <div class="footer-line-grid">
      <div class="footer-line-items">
        <div onclick="location.href='/'" class="up-line-footer-item logo">
          travelaja
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis incidunt quae non alias. Mollitia provident similique quos quas cupiditate earum nisi perspiciatis non itaque eos! Pariatur porro enim omnis possimus.
        </div>
      </div>
      <div class="footer-line-items">
        <div class="up-line-footer-item" style="font-size: 25px;">Links</div>
        <div>
            <a href="/discover.html">Discover</a><br><br>
            <a href="#">Spesial deals</a><br><br>
            <a href="/services.html">Services</a><br><br>
            <a href="#">Community</a><br><br>
            <a href="/about-us.html">About Us</a>
        </div>
      </div>
      <div class="footer-line-items">
        <div class="up-line-footer-item" style="font-size: 25px;">Services</div>
        <div>
            <a href="/about-us.html">About Us</a><br><br>
            <a href="#">Blog & Articles</a><br><br>
            <a href="#">Terms & Conditions</a><br><br>
            <a href="#">Privacy Policy</a><br><br>
            <a href="/contacts.html">Contact Us</a>
        </div>
      </div>
      <div class="footer-line-items">
        <div class="up-line-footer-item" style="font-size: 25px;">Contact</div>
        <div>
          <span>Address: Jl.Codelaras No.205A</span><br><br>
          <span>Kediri, Pare AG17</span><br><br>
          <span>Phone: 123 456 7890</span><br><br>
          <span>Email: myagungperdana@gmail.com</span><br><br>
          <span>Maps: Kediri, East java</span>
      </div>
    </div>
    <div class="footer-line-grid" style="font-weight: bolder;">
      Ikuti Kami<br>
      @include('social.html')
    </div>
  </div>
</footer>
