.main-header {
    background: url('../img/background.png') no-repeat center top;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 720px;
    nav {
        color: #fff;

        a {
            color: #fff !important;
        }

        #home_button {
            font-weight: bold;
        }
    }

    .main-header-content {
        height: 720px;
        width: 100%;
        align-items: center;
        text-align: center;
        display: grid;
        margin: 0 auto;
        justify-content: center;
        color: #fff;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;

        > * {
                align-self: center;
            }

        div {
            padding: 30px;
            &:first-child {
                font-size: 48px;
            }
        }

        .search-bar {
            height: 67px;
            margin-left: 15%;
            margin-right: 15%;
            background-color: #fff;
            box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
        }
    }
}