.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 178px;
    height: 60px;
    color: #000;
    font-family: 'Poppins';
    position: fixed;
    top: 0;
    z-index: 100;

    .logo {
        font-style: normal;
        font-weight: 400;
        font-size: 33.18px;
        line-height: 120%;
        max-width: 20%;
        cursor: pointer;
    }

    .nav-item {
        display: flex;
        text-align: center;
        a {
            padding: 10px;
            text-decoration: none;
            cursor: pointer;
            color: #000;
        }
    }

    .button-location {
        max-width: 15%;
        font-weight: bold;
    }
}
